body, App , html{
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.root{
    overflow: hidden;
    display: flex;
    height: 94.50vh
}

.content
{
    flex: 1;
    padding: 16px;
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
}

.navbar{
    background-color:#021838;
    height:48px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}

.navbar-left-items{

    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 5px;
    color: #fff;

}

.navbar-center-items{
    display: flex;
    align-items: center;
    vertical-align: middle;
}
